@charset "utf-8";

// Import sass:color module for color functions
@use "sass:color";

// Import custom variables first (with fixed color functions)
@import
  "minima/variables",
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
