{{ define "header" }}
    {{ partial "header.html" . }}
{{ end }}

{{ define "footer" }}
    {{ partial "footer.html" . }}
{{ end }}

{{ define "main" }}
<div class="content-wrapper gallery-full-width">
    <div class="main-column">
        <h1>{{ .Title }}</h1>
        {{ if .Content }}
        <div class="content">
            {{ .Content }}
        </div>
        {{ end }}
        
        <div class="gallery-grid">
            {{ $images := (readDir "/static/images/gallery") }}
            {{ range sort $images "Name" }}
                {{ if and (not .IsDir) (in (slice ".jpg" ".jpeg" ".png" ".webp") (path.Ext .Name)) }}
                {{ $filename := .Name }}
                {{ $ext := path.Ext .Name }}
                {{ $basename := (printf "%s" (substr $filename 0 (sub (len $filename) (len $ext)))) }}
                {{ $caption := (replace $basename "-" " ") | title }}
                <div class="gallery-item" data-src="/images/gallery/{{ .Name }}" data-caption="{{ $caption }}">
                    <img src="/images/gallery/{{ .Name }}" alt="{{ $caption }}">
                    <div class="gallery-caption">{{ $caption }}</div>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
